/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

div.container, div.home-container {
    background-color: #ffffff;
    max-width: 60em;
    margin: 0 auto;
    padding: 1em;
}

body {
    font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #ffffff;
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.home-container main {
    position: relative;
    overflow: hidden;
    padding-bottom: 2em;
}

nav{
    text-decoration: none;
    color:#4879a1;
}
nav ul li {
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color:#4879a1;
}

nav ul {
    list-style-type: none;
}

header{
    margin-bottom: 1em;
}

header figure {
    justify-content: space-between;
    margin-bottom: 0.5em; 
}

img {
    width: 100%;
    display: block;
}

header figure a img {
    max-width: 30em;
    height: auto; 
    margin: 0; 
    display: block;
}

h1{
    text-align: center;
    width: 10em;
}

h2{
    color:#4879a1;
    text-decoration: none;
    font-family: serif;
    font-size: 2.5em;
    font-weight: bold;  
    margin: 0.5em 0em;
    margin-top: 1em;
}

h3{
    color: #4879a1;
    text-decoration: none;
    font-family: serif;
    font-size: 1.5em;
    font-weight: bold;  
    margin: 0.5em 0em;
}

ul li{
    list-style-type: None;
}

a {
    text-decoration: none;
    color: inherit;
  }

section.mainstory{
    margin-bottom: 2em;
}

section.story_with_photo{
    padding: 0em;
}

section.simple_story{
    border-top:solid #222 1px;
    padding: 0em;
    margin-bottom: 2em;
}

aside {
    background-color: #ced1f9;
    padding: 0.5em;
}

footer{
    background-color: #4879a1;
    padding: 0.5em;
    margin: 0em;
    width: 100%;
    box-sizing: border-box;
}

p {
    margin: 0.5em 0em 2em 0em;
}

p.footer{
    padding: 0.5em;
    margin: 0em;
    color: #fff;
}


@media only screen and (min-width: 40em){
    header, h2, p {
        margin: .2rem 0 0;
    }

    figcaption {
        margin: .2rem 0 1em;
    }

    nav ul li {
        display: inline;
        margin-right: 1em;
    }
}

@media screen and (min-width: 60em) {

    div.home-container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container {
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    header, footer{
        grid-column: 1/3;
    }

    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.container aside{
        margin-top: 0; 
    }

    div.home-container aside{
        background: none;
        padding: 0;
        margin-top: 0; 
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        margin: 0 1em;
        display: inline-block;
    }

    section.mainstory{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }
    section.mainstory a figure img{
        object-fit: cover;
    }

    section.mainstory a figure{
        flex: 1 0 12em;
        background-color: chartreuse;
        display: flex;
    }

    section.mainstory a h2 {
        flex: 0 0 1em;
        margin-top: 0.5em;
    }

    section.mainstory a p{
        flex: 0 0 4em;
    }

    section.story_with_photo{
        display: flex;
    }

    section.story_with_photo a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }
    section.story_with_photo a figure img{
        object-fit: cover;
    }

    section.story_with_photo a figure{
        flex: 1 0 12em;
        background-color: chartreuse;
        display: flex;
    }

    section.story_with_photo a h2 {
        flex: 0 0 1em;
    }

    section.story_with_photo a p{
        flex: 0 0 4em;
    }
}
